.btn {
background: #e60023;
border-radius: 3px;
color: #fff;
display: inline-block;
font-size: 14px;
padding: 8px 15px;
text-decoration: none;
text-align: center;
min-width: 60px;
position: relative;
transition: color .1s ease;
}
.btn:hover {
background: #c72339;
}
.btn.btn-big {
font-size: 18px;
padding: 15px 20px;
min-width: 100px;
}
.btn-close {
color: rgba(45, 113, 214, 0.9);
font-size: 30px;
text-decoration: none;
padding:10px;
position: absolute;
right: 7px;
top: 0;
}
.btn-close:hover {
color: rgba(45, 113, 214, 1);
font-weight: bold;
}
.modal:before {
content: "";
display: none;
background: rgba(45, 113, 214, 0.3);
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 10;
}
.opened:before {
display: block;
}
.opened .modal-dialog {
transform: translate(0, 0);
top: 20%;
}
.modal-dialog {
background: #fefefe;
border: #333333 solid 0px;
border-radius: 5px;
margin-left: -200px;
text-align:center;
position: fixed;
left: 50%;
top: -100%;
z-index: 11;
width: 450px;
box-shadow:0 5px 10px rgba(0,0,0,0.3);
transform: translate(0, -500%);
transition: transform 0.3s ease-out;
}
.modal-body input{
font-family: "Markella", "Times New Roman", serif;
font-size: 13pt;
width:200px;
padding: 0 0 8px;
color:black;
outline:0;
margin-top: 10px;
}

.modal-header {
border-bottom: #eeeeee solid 3px;
}
.modal-header h2 {
font-family: "Markella", "Times New Roman", serif;
font-size: 15pt;
}