.section_info {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 90%;
    order: 2;
    margin: 2vh 1vw 2vh 1vw;
    min-height: 50vh;
    position: relative;
    background-color: rgba(255, 255, 255, 1);
}

.my_info {
     display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    min-height: 45vh;
}

.mypersonalinfo {
    display: flex;
    flex-basis: 100%;
    min-height: 5vh;
    color: white;
    background-color: rgba(45, 113, 214, 0.9);
}

.icon {
    display: flex;
    flex-basis: 5%;
    margin: auto;
    justify-content: center;
}

.mypersonalinfo_img {
    width: 25px;
    height: 25px;
}

.text_info {
    display: flex;
    flex-basis: 50%;
    align-items: center;
}

.text_info p {
    font-family: "Markella", "Times New Roman", serif;
    font-size: 18pt;
}

.icon {
    display: flex;
    flex-basis: 5%;
    margin: auto;
    justify-content: center;
}

.login {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin: auto;
    flex-basis: 45%;
}

.login p {
    font-family: "Markella", "Times New Roman", serif;
    font-size: 13pt;
    padding-right: 10px;
}

.user_login {
    background-color: rgba(40, 105, 208, 1);
    padding: 0 10px 0;
    border-radius: 5px;
}

.my_info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Markella", "Times New Roman", serif;
    font-size: 15pt;
}

.act1 {
    background: rgba(81, 134, 232, 0.3);
    padding: 5px 20px 5px 20px;
}

.act1:hover {
    background: rgba(81, 134, 232, 0.5);
}

.act2 {
    background: rgba(81, 134, 232, 0.3);
    padding: 5px 20px 5px 20px;
}

.act2:hover {
    background: rgba(81, 134, 232, 0.5);
}

.act3 {
    background: rgba(81, 134, 232, 0.3);
    padding: 5px 20px 5px 20px;
}

.act3:hover {
    background: rgba(81, 134, 232, 0.5);
}

.act4 {
    background: rgba(81, 134, 232, 0.3);
    padding: 5px 20px 5px 20px;
}

.act4:hover {
    background: rgba(81, 134, 232, 0.5);
}